html, body { height: 100%; width: 100%; margin: 0; }

.wrapper {
	border: 30px solid white;
	height:100%;
	width:100%;
	display:table;
	position: relative;
}

.tile {
	font-family: myFirstFont;
	display:flex;
	justify-content:center;
	align-items:center;
	box-shadow:inset 0 0 0 99999px rgba(255,255,255,0.2);
	float:left;
	width:50%;
	height:250px;
	text-transform: uppercase;
}

.tile:hover {
	box-shadow: none;
}

.topBar {
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	z-index: 100;
	padding-right: 20px;
	padding-left: 20px;
	height: 10%;
}

.topBarImg {
	height:100%;
	cursor:pointer;
	border-radius: 50%;
}

.topBarImg:hover {
	background: #b5b5b5;
}

.overlayDiv {
	position: fixed;
	top: 10%;
	left: 0;
	width: 100%;
	height: 100%;
	z-index:99;
	background: white;
	opacity: .9;
}

.overlayDiv a {
	color: inherit;
}

.overlayDiv a:hover {
	color: inherit;
}

.menuDiv {
	height: 15%;
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	font-family: myFirstFont;
	cursor: pointer;
}

.menuDiv:hover {
	background: rgba(128, 128, 128, 0.16);
}

.bottomBar {
	bottom: -30px;
	color: #413231;
	font-size: 16px;
	text-align: right;
	width: 100%;
	position: absolute;
}

.tile1 {
	background-color: #354458;
}

.tile2 {
	background-color: #3A9AD9;
}

.tile3 {
	background-color: #29ABA4;
}

.tile4 {
	background-color: #ff8d36;
}

.tile5 {
	background-color: #EB7260;
}

.tile6 {
	background-color: #A3D39C;
}

.tile7 {
	background-color: #354458;
}

.tile8 {
	background-color: #3A9AD9;
}

.menuContent {
	float:right;
	padding-right: 10px;
}

.barMenuIconImg {
	width:32px;
	height:32px;
	background:rgb(212, 209, 209);
	border-radius:5px;
	box-shadow:inset 0 0 0 99999px rgba(255,255,255,0.4);
}

.barMenuIconImg:hover {
	box-shadow:none;
}

.tileImg {
	height:200px;
	border-radius: 50%;
}

.smallTileImg {
	height:75px;
}

.tileHalfImg {
	height: 100px;
}

.page {

}

.aboutPage {
	background: #3A9AD9;
	position: absolute;
	top: 10%;
	bottom: 0;
	width: 100%;
	font-size: 16px;
}

.aboutATags {
	color:#B74733;
}

.aboutATags:hover {
	color:#7C232E;
}

.tooltipHover {
	color: #555555;
}

.contactPage {
	background: #A3D39C;
	position: absolute;
	top: 10%;
	bottom: 0;
	width: 100%;
}

.projectsPage {
	background: #EB7260;
	position: absolute;
	top: 10%;
	bottom: 0;
	width: 100%;
}

.resumePage {
	background: #3A9AD9;
	position: absolute;
	top: 10%;
	bottom: 0;
	width: 100%;
}

.socialPage {
	background: #29ABA4;
	position: absolute;
	top: 10%;
	bottom: 0;
	width: 100%;
}


.ng-enter       { z-index: 8888; }
.ng-leave       { z-index: 9999; }

/* page specific animations ------------------------ */

/* home -------------------------- */
.page-home.ng-enter         { animation: scaleUp 0.5s both ease-in; }
.page-home.ng-leave         { transform-origin: 0% 0%; animation: rotateFall 1s both ease-in; }

/* about ------------------------ */
.page-about.ng-enter        { animation:slideInRight 0.5s both ease-in; }
.page-about.ng-leave        { animation:slideOutLeft 0.5s both ease-in; }

/* contact ---------------------- */
.page-contact.ng-leave      { transform-origin: 50% 50%; animation: rotateOutNewspaper .5s both ease-in; }
.page-contact.ng-enter      { animation:slideInRight 0.5s both ease-in; }

/* projects ---------------------- */
.page-projects.ng-leave      { transform-origin: 50% 50%; animation: rotateOutNewspaper .5s both ease-in; }
.page-projects.ng-enter      { animation:slideInRight 0.5s both ease-in;}

/* resume ---------------------- */
.page-resume.ng-leave      { transform-origin: 50% 50%; animation: rotateOutNewspaper .5s both ease-in; }
.page-resume.ng-enter      { animation:slideInRight 0.5s both ease-in; }

/* social ---------------------- */
.page-social.ng-leave      { transform-origin: 50% 50%; animation: rotateOutNewspaper .5s both ease-in; }
.page-social.ng-enter      { animation:slideInRight 0.5s both ease-in; }



/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
	0%      { transform: rotateZ(0deg); }
	20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
	40%     { transform: rotateZ(17deg); opacity: 0.5; }
	60%     { transform: rotateZ(16deg); }
	100%    { transform: translateY(100%) rotateZ(17deg); opacity: 0;}
}

/* slide out to the left */
@keyframes slideOutLeft {
	to      { transform: translateX(-100%); }
}

/* slide out to the right */
@keyframes slideOutRight {
	to      { transform: translateX(100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
	to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; transform-origin: 50% 50%; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
	from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
	from    { transform:translateX(100%);opacity:0.3; }
	to      { transform: translateX(0);opacity:1; }
}

/* slide in from the bottom */
@keyframes slideInUp {
	from    { transform:translateY(100%); }
	to      { transform: translateY(0); }
}



/* FONTS
==========================================================================*/

@font-face {
	font-family: myFirstFont;
	src: url(../includes/exo/Exo-ExtraBoldItalic.otf);
}