<form style="font-size: 16px;">
	<div class="loading">
		<img class="car-gif" src="images/animated-car-image-0049.gif">
	</div>

	<div ng-show="showForm">
		<div class="form-group">
			<label for="inputFile">File input</label>
			<input type="file" id="inputFile" custom-on-change="newFile">
			<p class="help-block">Select a csv file for input</p>
		</div>
		<div ng-repeat="address in workAddresses">
			<div class="input-group" style="width: 100%;margin-bottom: 5px;">
				<!--<label for="inputAddress{{address.id}}">Work Address {{address.id}}</label>-->
				<input id="addressInput{{address.id}}" type="text" class="form-control" ng-model="address.address" id="inputAddress{{address.id}}" placeholder="Work Address {{address.id}}">
				<div class="input-group-addon mapSelector" style="width:200px;font-size:1.2em;" ng-click="openMap(address)"><i class="fa fa-globe"></i></div>
			</div>
			<button class="remove" ng-show="$last" ng-click="removeWorkAddress()">-</button>
		</div>

		<button type="button" class="btn btn-primary btn-sm" ng-click="addWorkAddress()">Add Another Address</button>
		<!--Here I need to add the ability to insert 1 or more work building locations-->
		<button type="submit" style="margin-top: 1em;" class="btn btn-primary btn-lg btn-block" ng-click="readFile()">Submit</button>
		<!--<button type="submit" style="margin-top: 1em;" class="btn btn-primary btn-lg btn-block" ng-click="startHeatMap()">Calculate Heat Map</button>-->
	</div>

	<div ng-show="showMap" id="map" class="mapSelectorOverlay" ng-click="showMap = true">
		<div class="selectorDiv">
			Location: <input type="text" id="us2-address" style="width: 500px"/>
			<div id="us2" style="width: 600px; height: 400px;margin-bottom: 5px; margin-top: 5px;"></div>
			<button class="btn btn-primary btn-lg btn-block" type="button" ng-click="doneWithJquerySelector()">Done</button>
		</div>
	</div>
</form>