.remove{
	background: #C76868;
	color: #FFF;
	font-weight: bold;
	font-size: 21px;
	border: 0;
	cursor: pointer;
	display: inline-block;
	padding: 4px 9px;
	vertical-align: top;
	line-height: 100%;
	margin:.3em;
}

.redInput {
	color: red;
}

.greenInput {
	color: green;
}

.loading {
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	opacity: .75;
	background-color: white;
	line-height:100%;
}

.car-gif {
	position: absolute;
	top: 35%;
	width: 25%;
	opacity: .9;
	-webkit-transition: left 2s; /* Safari */
	transition: left 2s;
}

.radios {
	height: 70px;
	background: gray;
	width: 100%;
	border-bottom: 1px solid black;
	padding-bottom: 5px;
	position:fixed;
	top:0;
	left:0;
	z-index:100;
}

.divRadio {
	background: lightgray;
	margin: 5px;
	height: 60px;
	width: 60px;
	float: left;
	border-radius: 5px;
	border:5px solid white;
	cursor: pointer;
}

.divRadio:hover {
	border:5px solid black;
}

.divViews {
	background: white;
	margin: 5px;
	height: 60px;
	width: 60px;
	float: right;
	border-radius: 5px;
	border: 5px solid white;
	cursor: pointer;
}

.divViews:hover {
	border:5px solid black;
}

#grad {
	height:100%;
	color: white;
	background: black; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(grey, black); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(grey, black); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(grey, black); /* For Firefox 3.6 to 15 */
	background: linear-gradient(grey, black); /* Standard syntax */
}

.backDiv {
	text-align: center;
	line-height: 50px;
	height: 60px;
	width: 60px;
	border: 5px solid white;
	float: left;
	background: white;
	margin:5px;
	border-radius: 5px;
	color:black;
}

.backDiv:hover {
	border:5px solid black;
}

#withHover {
	color:lightblue;
}

h1#parent span#noHover {
	display:inline;
}
h1#parent:hover span#noHover {
	display:none;
}
h1#parent span#withHover {
	display:none;
}
h1#parent:hover span#withHover {
	display:inline;
}

.hoverChild {
	color: lightblue;
	cursor: default;
}

.parent .normalChild {
	display: inline;
	cursor: default;
}

.parent .hoverChild {
	display: none;
}

.parent:hover .normalChild {
	display: none;
}

.parent:hover .hoverChild {
	display: inline;
}

.tableCard {
	color:black;
	background: white;
	display:block;
	margin:5px;
	border-radius:5px;
	padding-left: 5px;
	height:22px;
}

.nameTableSection {
	width: 150px;
	float:left;
	border-right: 1px solid black;
	text-align: left;
}

.remoteTableSection {
	width: 70px;
	float:left;
	border-right: 1px solid black;
	text-align: center;
}

.informationTableSection {
	width: 20%;
	float:left;
	border-right: 1px solid black;
	text-align: center;
}

.bestCell {
	background: #00e800;
}

.worstCell {
	background: #eb0000;
}

.bestCellIndicator {
	background-color: #00e800;
	float: right;
	margin-right: 100px;
	border: 1px solid black;
	margin-top: 5px;
	color:black;
}

.worstCellIndicator {
	background-color: #eb0000;
	float: right;
	margin-right: 10px;
	border: 1px solid black;
	margin-top: 5px;
	color:black;
}

.headerBox {
	border-right: 1px solid black;
	float: left;
	width: 24.5%;
}

.googleMap {
	width:100%;
	height:100%;
	margin-top:70px;
}

.googleMapInner {
	width:100%;
	height:100%;
}





